body{
	padding:0;margin:0;font-size:14px;min-width:960px;font-family:"Trebuchet MS";
	background:#f1f1f1;
}
ul,li,ol{padding:0;margin:0;list-style:none;}
h1, h2, h3, h4, h5,blockquote,p, dl, dt, dd{margin:0;padding:0;}
.clr {
	clear:both;
}
a{color:#666;text-decoration:none;}
a:hover{color:#0d92e4;}
.noborder{border: none !important;}
img{border: 0px;}

header{}
header .top{
	padding:10px 0;
}
#logo{}
#logo a{
	display:inline-block;
	padding-left:58px;
	height:54px;
	line-height:58px;
	font-size:36px;
	background:url(../images/logo.png) left center no-repeat;
	font-family:"Trebuchet MS";
	color:#6B7A85;
}


#navbar{
	height:36px;
	line-height:36px;
	background:#6B7A85;
	color:#fff;
	padding:0 10px;
}

#navbar a{
	color:#fff;
	font-size:14px;
}


#mainbody{padding:10px;}
#mainbody ul{}
#mainbody ul li{
	line-height:36px;
	border-bottom:1px solid #ccc;
}