body{
	padding:0;margin:0;font-size:14px;min-width:960px;font-family:"Trebuchet MS";
	background:#f1f1f1;
}
ul,li,ol{padding:0;margin:0;list-style:none;}
h1, h2, h3, h4, h5,blockquote,p, dl, dt, dd, textarea{margin:0;padding:0;}
.clr {
	clear:both;
}
a{color:#666;text-decoration:none;}
a:hover{color:#0d92e4;}
.noborder{border: none !important;}
img{border: 0px;}

header{}
header .top{
	padding:10px 0;
}
#logo{}
#logo a{
	display:inline-block;
	padding-left:58px;
	height:54px;
	line-height:58px;
	font-size:36px;
	background:url(../images/logo.png) left center no-repeat;
	font-family:"Trebuchet MS";
	color:#6B7A85;
}


#navbar{
	height:36px;
	line-height:36px;
	background:#6B7A85;
	color:#fff;
	padding:0 10px;
}

#navbar a{
	color:#fff;
	font-size:14px;
}


#mainbody{padding:10px;position:relative;}
#maincontent ul{}
#maincontent ul li{
	line-height:36px;
	border-bottom:1px solid #ccc;
}
#maincontent ul li .title{}
#maincontent ul li .summary{color:#999;font-size:12px;line-height:20px;}
#maincontent ul li .cite{
	color:#999;
}

#mainbody > aside{
	position:absolute;
	right:10px;
	top:10px;
	width:300px;
}

#mainbody>aside .btn{
	text-align:center;
	background:#6B7A85;
	color:#fff;
	display:block;
	line-height:48px;
}

#maincontent{
	margin-right:320px;
}

#loading{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:url(../images/loader.gif) center center no-repeat;
	background-color:#fff;
	opacity:.6;
	display:none;
}
.cline{
	clear:both;
	overflow:auto;
	margin:10px 0;
}
.form_box{
	
}

.fields_box{
	border:1px solid #ccc;
	background:#f1f1f1;
	background-image:-webkit-linear-gradient(#f1f1f1, #e1e1e1);
	padding:10px;
	margin-bottom:10px;
	border-radius:2px;
}
.form_box label{
	display:block;
	float:left;
	line-height:30px;
	width:80px;
	text-align:right;
	padding-right:6px;
}
.form_box input{
	width:240px;
	height:24px;
	line-height:24px;font-size:14px;border-radius:2px;border:1px solid #aaa;
}
.form_box textarea{
	width:640px;
	height:240px;
	line-height:24px;
	font-size:14px;border-radius:2px;border:1px solid #aaa;
}
button.btn, button.btn_gray{
	border:none;
	color:#fff;
	line-height:30px;
	padding:0 16px;
	border-radius:2px;
	font-size:14px;
	cursor:pointer;
}
button.btn{
	background:#1a659f;
	background-image:-webkit-linear-gradient(#2076b9, #1a659f);
}
button.btn:hover{
	background:#549cd4;
	background-image:-webkit-linear-gradient(#5da6df, #549cd4);
}
button.btn:active{
	background:#1a659f;
	background-image:-webkit-linear-gradient(#1a659f, #2076b9);
}
button.btn_gray{
	background:#4c5562;
	background-image:-webkit-linear-gradient(#5a6472, #4c5562);
}
button.btn_gray:hover{
	background:#616c7b;
	background-image:-webkit-linear-gradient(#6b7686, #616c7b);
}
button.btn_gray:active{
	background:#4c5562;
	background-image:-webkit-linear-gradient(#4c5562, #5a6472);
}